body {
    background-image: url('images/monkey.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: 'Varela Round', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 100vh;    
    padding: 1em;
}

#btn {
    padding: 10px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(239, 231, 231);
    background-color: #0c64fc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  
}
#btn:hover {
    cursor: pointer;
    background: white(102, 102, 102);
    opacity: .8;
    color: black;
}

.output {
    background: #0b0b0b97;
    color: #EDE7E3;
    font-family: monospace;
    padding: 2em;
    max-width: 20em;
    border: unset;
    border-radius: 25px;
    margin-top: 1em;
}