body {
    background-image: url('images/flowers.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: 'Varela Round', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 100vh;    
    padding: 1em;
}
/* 
I need to change my fonts to different sizes etc */

button {
    padding: 20px 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(239, 231, 231);
    background-color: #0c64fc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  
}
