.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center
    align-items: center;
    height: 100vh;    
    background-color: yellow;
}

h1 {
    margin: 0;


}